# Evaluation on Turk Crowdsourced Aspect-Opinion Pair (3) Manual KP Multi-Aspect

In [1]:
import json
import pandas as pd
import numpy as np
import ast
import spacy
import matplotlib.pyplot as plt

pd.set_option('display.max_colwidth', None)

/home/an/anaconda3/envs/deep_learning_env_2/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
2023-07-11 19:09:00.250175: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudart.so.11.0
2023-07-11 19:09:01.415939: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcuda.so.1
2023-07-11 19:09:01.416311: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:923] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-07-11 19:09:01.416458: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1733] Found device 0 with properties:
pciBusID: 0000:01:00.0 name: NVIDIA GeForce RTX 3080 Ti computeCapability: 8.6
coreClock: 1.77GHz coreCount: 80 deviceMemorySize: 12.00GiB deviceMemoryBandwidth: 849.46GiB/s
2023-07-11 19:09:01.416507: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudart.so.11.0
2023-07-11 19:09:01.416541: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcublas.so.11
2023-07-11 19:09:01.416553: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcublasLt.so.11
2023-07-11 19:09:01.416567: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcufft.so.10
2023-07-11 19:09:01.416579: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcurand.so.10
2023-07-11 19:09:01.416600: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcusolver.so.11
2023-07-11 19:09:01.416605: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcusparse.so.11
2023-07-11 19:09:01.416626: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudnn.so.8
2023-07-11 19:09:01.416804: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:923] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-07-11 19:09:01.417022: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:923] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-07-11 19:09:01.417114: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1871] Adding visible gpu devices: 0

In [2]:
from datasets import concatenate_datasets, load_dataset
from datasets import Dataset, DatasetDict

In [3]:
from utils.track_1_kp_matching import *

In [4]:
from sentence_transformers import SentenceTransformer, InputExample, LoggingHandler, losses, models, util
import torch

In [5]:
from datasets import concatenate_datasets, load_dataset
from datasets import Dataset, DatasetDict
from torch.utils.data import DataLoader

First with top 10 args per category labelling of test set

## Load Test dataset

In [6]:
df = pd.read_pickle(f"../data/Evaluation/test_data.pkl")

In [7]:
df

,HITId,comment_id,label,full_key_point,key_point_id,comment,full_comment,attributes,topic,isMultiAspect,...,old_key_point_id,key_point,aspects_x,opinions_x,opinion_aspect_pairs_x,sentiments_x,aspects_y,opinions_y,opinion_aspect_pairs_y,sentiments_y
0,302U8RURJZ1WH0D09XZ8R7HSOP5NVW,arg_0_537,1,Terrible administration and management .,kp_0_2,"[uninviting experience <SEP> negative, rude employees <SEP> negative]",Employees are rude and make the experience uninviting .,"[restaurant -> atmosphere, staff]",Arts & Entertainment,True,...,kp_0_2,terrible administration <SEP> negative,"[experience, employees]","[uninviting, rude]","[uninviting experience, rude employees]","[negative, negative]",administration,terrible,['terrible administration'],['negative']
1,302U8RURJZ1WH0D09XZ8R7HSOP5NVW,arg_0_537,1,Rude and Unprofessional staff .,kp_0_24,"[uninviting experience <SEP> negative, rude employees <SEP> negative]",Employees are rude and make the experience uninviting .,"[restaurant -> atmosphere, staff]",Arts & Entertainment,True,...,kp_0_24,unprofessional staff <SEP> negative,"[experience, employees]","[uninviting, rude]","[uninviting experience, rude employees]","[negative, negative]",staff,unprofessional,['unprofessional staff'],['negative']
2,302U8RURJZ1WH0D09XZ8R7HSOP5NVW,arg_0_537,0,Great for conventions and concerts ! !,kp_0_4,"[uninviting experience <SEP> negative, rude employees <SEP> negative]",Employees are rude and make the experience uninviting .,"[restaurant -> atmosphere, staff]",Arts & Entertainment,True,...,kp_0_4,great for conventions <SEP> positive,"[experience, employees]","[uninviting, rude]","[uninviting experience, rude employees]","[negative, negative]",conventions,great for,['great for conventions'],['positive']
3,302U8RURJZ1WH0D09XZ8R7HSOP5NVW,arg_0_537,0,Horrible customer service .,kp_0_5,"[uninviting experience <SEP> negative, rude employees <SEP> negative]",Employees are rude and make the experience uninviting .,"[restaurant -> atmosphere, staff]",Arts & Entertainment,True,...,kp_0_5,horrible customer service <SEP> negative,"[experience, employees]","[uninviting, rude]","[uninviting experience, rude employees]","[negative, negative]",customer service,horrible,['horrible customer service'],['negative']
4,302U8RURJZ1WH0D09XZ8R7HSOP5NVW,arg_0_537,0,It had wonderful acoustics .,kp_0_0,"[uninviting experience <SEP> negative, rude employees <SEP> negative]",Employees are rude and make the experience uninviting .,"[restaurant -> atmosphere, staff]",Arts & Entertainment,True,...,kp_0_0,wonderful acoustics <SEP> positive,"[experience, employees]","[uninviting, rude]","[uninviting experience, rude employees]","[negative, negative]",acoustics,wonderful,['wonderful acoustics'],['positive']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6794,3ZXV7Q5FJBOOUZUJKSLQTAKU1UIFC3,arg_4_6440,0,Great family owned restaurant .,kp_4_25,[friendly staff <SEP> positive],The staff are friendly and attentive .,[staff],Restaurants,False,...,kp_4_25,great family owned restaurant <SEP> positive,[staff],[friendly],[friendly staff],[positive],restaurant,great family owned,['great family owned restaurant'],['positive']
6795,3ZXV7Q5FJBOOUZUJKSLQTAKU1UIFC3,arg_4_6440,0,Worst service in the world !,kp_4_27,[friendly staff <SEP> positive],The staff are friendly and attentive .,[staff],Restaurants,False,...,kp_4_27,worst service <SEP> negative,[staff],[friendly],[friendly staff],[positive],service,worst,['worst service'],['negative']
6796,3ZXV7Q5FJBOOUZUJKSLQTAKU1UIFC3,arg_4_6440,0,Rude and inattentive staff .,kp_4_30,[friendly staff <SEP> positive],The staff are friendly and attentive .,[staff],Restaurants,False,...,kp_4_30,inattentive staff <SEP> negative,[staff],[friendly],[friendly staff],[positive],staff,inattentive,['inattentive staff'],['negative']
6797,3ZXV7Q5FJBOOUZUJKSLQTAKU1UIFC3,arg_4_6440,0,Great sushi and sashimi .,kp_4_31,[friendly staff <SEP> positive],The staff are friendly and attentive .,[staff],Restaurants,False,...,kp_4_31,great sushi <SEP> positive,[staff],[friendly],[friendly staff],[positive],sushi,great,['great sushi'],['positive']
6798,3ZXV7Q5FJBOOUZUJKSLQTAKU1UIFC3,arg_4_6440,0,Wait times are very long .,kp_4_32,[friendly staff <SEP> positive],The staff are friendly and attentive .,[staff],Restaurants,False,...,kp_4_32,very long wait times <SEP> negative,[staff],[friendly],[friendly staff],[positive],wait times,very long,['very long wait times'],['negative']

In [8]:
df['label'].value_counts()

0    6380
1     419
Name: label, dtype: int64

In [9]:
# df = df[df['topic'] == 'Hotels']
# df = df[df['topic'] == 'Restaurants']
# df = df[df['topic'] == 'Arts & Entertainment']
# df = df[df['topic'] == 'Automotive']
# df = df[df['topic'] == 'Beauty & Spas']

In [10]:
# df = df[df['isMultiAspect'] == True]

### Multi-Aspect Configuration

In [11]:
len(df['full_comment'].unique())

240

In [12]:
df['num_of_aspects'] = df['comment'].str.len()

In [13]:
df = df.rename(columns={'comment_id': 'comment_id_sent'})
df['comment_id'] = df['comment_id_sent'] + "_" + df['num_of_aspects'].astype(str)
df

,HITId,comment_id_sent,label,full_key_point,key_point_id,comment,full_comment,attributes,topic,isMultiAspect,...,aspects_x,opinions_x,opinion_aspect_pairs_x,sentiments_x,aspects_y,opinions_y,opinion_aspect_pairs_y,sentiments_y,num_of_aspects,comment_id
0,302U8RURJZ1WH0D09XZ8R7HSOP5NVW,arg_0_537,1,Terrible administration and management .,kp_0_2,"[uninviting experience <SEP> negative, rude employees <SEP> negative]",Employees are rude and make the experience uninviting .,"[restaurant -> atmosphere, staff]",Arts & Entertainment,True,...,"[experience, employees]","[uninviting, rude]","[uninviting experience, rude employees]","[negative, negative]",administration,terrible,['terrible administration'],['negative'],2,arg_0_537_2
1,302U8RURJZ1WH0D09XZ8R7HSOP5NVW,arg_0_537,1,Rude and Unprofessional staff .,kp_0_24,"[uninviting experience <SEP> negative, rude employees <SEP> negative]",Employees are rude and make the experience uninviting .,"[restaurant -> atmosphere, staff]",Arts & Entertainment,True,...,"[experience, employees]","[uninviting, rude]","[uninviting experience, rude employees]","[negative, negative]",staff,unprofessional,['unprofessional staff'],['negative'],2,arg_0_537_2
2,302U8RURJZ1WH0D09XZ8R7HSOP5NVW,arg_0_537,0,Great for conventions and concerts ! !,kp_0_4,"[uninviting experience <SEP> negative, rude employees <SEP> negative]",Employees are rude and make the experience uninviting .,"[restaurant -> atmosphere, staff]",Arts & Entertainment,True,...,"[experience, employees]","[uninviting, rude]","[uninviting experience, rude employees]","[negative, negative]",conventions,great for,['great for conventions'],['positive'],2,arg_0_537_2
3,302U8RURJZ1WH0D09XZ8R7HSOP5NVW,arg_0_537,0,Horrible customer service .,kp_0_5,"[uninviting experience <SEP> negative, rude employees <SEP> negative]",Employees are rude and make the experience uninviting .,"[restaurant -> atmosphere, staff]",Arts & Entertainment,True,...,"[experience, employees]","[uninviting, rude]","[uninviting experience, rude employees]","[negative, negative]",customer service,horrible,['horrible customer service'],['negative'],2,arg_0_537_2
4,302U8RURJZ1WH0D09XZ8R7HSOP5NVW,arg_0_537,0,It had wonderful acoustics .,kp_0_0,"[uninviting experience <SEP> negative, rude employees <SEP> negative]",Employees are rude and make the experience uninviting .,"[restaurant -> atmosphere, staff]",Arts & Entertainment,True,...,"[experience, employees]","[uninviting, rude]","[uninviting experience, rude employees]","[negative, negative]",acoustics,wonderful,['wonderful acoustics'],['positive'],2,arg_0_537_2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6794,3ZXV7Q5FJBOOUZUJKSLQTAKU1UIFC3,arg_4_6440,0,Great family owned restaurant .,kp_4_25,[friendly staff <SEP> positive],The staff are friendly and attentive .,[staff],Restaurants,False,...,[staff],[friendly],[friendly staff],[positive],restaurant,great family owned,['great family owned restaurant'],['positive'],1,arg_4_6440_1
6795,3ZXV7Q5FJBOOUZUJKSLQTAKU1UIFC3,arg_4_6440,0,Worst service in the world !,kp_4_27,[friendly staff <SEP> positive],The staff are friendly and attentive .,[staff],Restaurants,False,...,[staff],[friendly],[friendly staff],[positive],service,worst,['worst service'],['negative'],1,arg_4_6440_1
6796,3ZXV7Q5FJBOOUZUJKSLQTAKU1UIFC3,arg_4_6440,0,Rude and inattentive staff .,kp_4_30,[friendly staff <SEP> positive],The staff are friendly and attentive .,[staff],Restaurants,False,...,[staff],[friendly],[friendly staff],[positive],staff,inattentive,['inattentive staff'],['negative'],1,arg_4_6440_1
6797,3ZXV7Q5FJBOOUZUJKSLQTAKU1UIFC3,arg_4_6440,0,Great sushi and sashimi .,kp_4_31,[friendly staff <SEP> positive],The staff are friendly and attentive .,[staff],Restaurants,False,...,[staff],[friendly],[friendly staff],[positive],sushi,great,['great sushi'],['positive'],1,arg_4_6440_1
6798,3ZXV7Q5FJBOOUZUJKSLQTAKU1UIFC3,arg_4_6440,0,Wait times are very long .,kp_4_32,[friendly staff <SEP> positive],The staff are friendly and attentive .,[staff],Restaurants,False,...,[staff],[friendly],[friendly staff],[positive],wait times,very long,['very long wait times'],['negative'],1,arg_4_6440_1

In [14]:
df['num_of_aspects']

0       2
1       2
2       2
3       2
4       2
       ..
6794    1
6795    1
6796    1
6797    1
6798    1
Name: num_of_aspects, Length: 6799, dtype: int64

In [15]:
df.columns

Index(['HITId', 'comment_id_sent', 'label', 'full_key_point', 'key_point_id',
       'comment', 'full_comment', 'attributes', 'topic', 'isMultiAspect',
       'predicted_WA', 'num_of_token', 'old_key_point_id', 'key_point',
       'aspects_x', 'opinions_x', 'opinion_aspect_pairs_x', 'sentiments_x',
       'aspects_y', 'opinions_y', 'opinion_aspect_pairs_y', 'sentiments_y',
       'num_of_aspects', 'comment_id'],
      dtype='object')

In [16]:
def prepare_comment_kp_label_input(df):
    comment_df = df[['comment_id', 'topic', 'full_comment', 'num_of_aspects',
                'aspects_x', 'opinions_x', 'opinion_aspect_pairs_x', 'sentiments_x', 'attributes']]
    comment_df = comment_df.drop_duplicates(subset=['comment_id']).reset_index(drop=True)
    comment_df.columns = [col.replace("_x", "") for col in comment_df.columns]
    
    kp_df = df[['key_point_id', 'topic', 'full_key_point',
           'aspects_y', 'opinions_y', 'opinion_aspect_pairs_y', 'sentiments_y', 'attributes']]
    kp_df = kp_df.drop_duplicates(subset=['key_point_id']).reset_index(drop=True)
    kp_df = kp_df.rename(columns={'full_key_point': 'key_point'})
    kp_df.columns = [col.replace("_y", "") for col in kp_df.columns]
    kp_df['opinion_aspect_pairs'] = kp_df['opinion_aspect_pairs'].apply(lambda x: ast.literal_eval(x))
    kp_df['sentiments'] = kp_df['sentiments'].apply(lambda x: ast.literal_eval(x))
    
    labels_df = df[['comment_id', 'key_point_id', 'label']]
    
    return comment_df, kp_df, labels_df

## Merging

In [37]:
def comment_kp_heuristic_match(df):
    comment_df, kp_df, labels_df = prepare_comment_kp_label_input(df)
    
    comment_df = comment_df.explode(['aspects', 'opinions', 'opinion_aspect_pairs', 'sentiments', 'attributes'])
    kp_df = kp_df.explode(['opinion_aspect_pairs', 'sentiments'])
    
    # Matching based on ABSA predictions of comment and KPs
    # Should not include attribute during matching to not favouring our apporach during evaluation, because other baselines don't
    # use attribute as well during the matching
    sent_kp_df = comment_df.astype(str).merge(kp_df.astype(str), how='left', on=['topic']).dropna(subset=['key_point']) 
    sent_kp_df = sent_kp_df.reset_index(drop=True)
    # Label the matching/non-matching pairs
    sent_kp_df.loc[
        (sent_kp_df['aspects_x'] == sent_kp_df['aspects_y']) & (sent_kp_df['sentiments_x'] == sent_kp_df['sentiments_y']),
        'score'
    ] = 1
    sent_kp_df.loc[
        (sent_kp_df['sentiments_x'] != sent_kp_df['sentiments_y']),
        'score'
    ] = 0
    sent_kp_df = implicit_aspects_matching(sent_kp_df)
    
    new_sent_kp_df = sent_kp_df.groupby(['topic', 'comment_id', 'opinion_aspect_pairs_x']).apply(select_best_kp_per_opinion).reset_index(drop=True)
    new_sent_kp_df = new_sent_kp_df.drop_duplicates(subset=['comment_id', 'key_point_id'])
    
    return new_sent_kp_df

In [38]:
def select_best_kp_per_opinion(grp):
    best_match = grp.sort_values(by=['score'], ascending=False)
    best_match = best_match.iloc[0]
    return best_match

Comment/KP matching on implicit aspects

In [39]:
import spacy
spacy.require_gpu()

True

In [40]:
def implicit_aspects_matching(sent_kp_df):
    sent_kp_df['predicted_by_cosine'] = False
    
    implicit_match_analyze_mask = pd.isnull(sent_kp_df['score'])
    sent_kp_df[implicit_match_analyze_mask] = sent_kp_df[implicit_match_analyze_mask].apply(calculate_aspects_semantic_similarity, axis=1)
    
    return sent_kp_df

In [41]:
unfound_tokens = []
def calculate_aspects_semantic_similarity(row):
    import warnings
    warnings.filterwarnings("ignore")
    nlp = spacy.load('en_core_web_md')
    tokens = nlp(row['aspects_x'] + " | " + row['aspects_y'])
    sep_index = [token.i for token in tokens if token.text == '|'][0]
    token1, token2 = tokens[:sep_index], tokens[sep_index+1:]
    row['aspects_x_len'] = len(token1)
    row['aspects_y_len'] = len(token2)
    warnings.filterwarnings("error")
    try:
        print(token2.similarity(token1))
        row['score'] = token2.similarity(token1)
    except:
        row['score'] = 0
    row['predicted_by_cosine'] = True
    
    return row

In [42]:
import nltk
def label_implicit_matching_pair(row):
    token1 = row['aspects_x'][0]
    token2 = row['aspects_y'][0]
    
    # Best
    if row['aspects_x_len'] >= row['aspects_y_len']:
        if token2 in token1 and len(token1) > len(token2) and row['aspects_x_len'] > row['aspects_y_len']: # e.g. mexican food vs food
            row['label'] = 1
    return row

In [ ]:
new_sent_kp_df = comment_kp_heuristic_match(df)

0.4792397916316986
0.40492796897888184
0.6046743392944336
0.322180837392807
0.26104819774627686
0.2026025801897049
0.3452816307544708
0.38468843698501587
0.24648834764957428
0.2080131620168686

In [64]:
merged_df = pd.merge(new_sent_kp_df, labels_df, how="left", on=["comment_id", "key_point_id"])
merged_df.loc[merged_df['key_point_id'] == "dummy_id", 'label'] = 0
merged_df["label_strict"] = merged_df["label"].fillna(0)
merged_df["label_relaxed"] = merged_df["label"].fillna(1)

In [67]:
def get_ap(df, label_column, top_percentile=0.5):
    top = int(len(df)*top_percentile)
    df = df.sort_values('score', ascending=False)
    if top != 0:
        df = df.head(top)
    # after selecting top percentile candidates, we set the score for the dummy kp to 1, to prevent it from increasing the precision.
    df.loc[df['key_point_id'] == "dummy_id", 'score'] = 0.99
    return average_precision_score(y_true=df[label_column], y_score=df["score"])

def calc_mean_average_precision(df, label_column):
    precisions = [get_ap(group, label_column) for _, group in df.groupby(["topic"])]
    print(precisions)
    return np.mean(precisions)

def evaluate_predictions(merged_df):
    mAP_strict = calc_mean_average_precision(merged_df, "label_strict")
    mAP_relaxed = calc_mean_average_precision(merged_df, "label_relaxed")
    return mAP_strict, mAP_relaxed

In [68]:
[(t, get_ap(group, "label_strict")) for t, group in merged_df.groupby(["topic"])]

[('Arts & Entertainment', 0.92),
 ('Automotive', 0.5822776003554035),
 ('Beauty & Spas', 0.8496957587866678),
 ('Hotels', 0.9538051289328429),
 ('Restaurants', 0.7765644827355906)]

In [90]:
merged_df.columns

Index(['comment_id', 'topic', 'full_comment', 'num_of_aspects', 'aspects_x',
       'opinions_x', 'opinion_aspect_pairs_x', 'sentiments_x', 'attributes_x',
       'key_point_id', 'key_point', 'aspects_y', 'opinions_y',
       'opinion_aspect_pairs_y', 'sentiments_y', 'attributes_y', 'score',
       'predicted_by_cosine', 'label', 'label_strict', 'label_relaxed'],
      dtype='object')

# Quantitative KP Coverage and Precision/Recall

In [102]:
merged_df[merged_df['topic'] == 'Arts & Entertainment'].merge(kp_df, on=['key_point_id']).columns

Index(['comment_id', 'topic_x', 'full_comment', 'num_of_aspects', 'aspects_x',
       'opinions_x', 'opinion_aspect_pairs_x', 'sentiments_x', 'attributes_x',
       'key_point_id', 'key_point_x', 'aspects_y', 'opinions_y',
       'opinion_aspect_pairs_y', 'sentiments_y', 'attributes_y', 'score',
       'predicted_by_cosine', 'label', 'label_strict', 'label_relaxed',
       'topic_y', 'key_point_y', 'aspects', 'opinions', 'opinion_aspect_pairs',
       'sentiments', 'attributes'],
      dtype='object')

In [150]:
from sklearn.metrics import recall_score, precision_score

def get_top_kp_coverages(merged_df, df, category, top=None, selected_kps=[]):
    comment_df, kp_df, labels_df = prepare_comment_kp_label_input(df)
    kp_df = kp_df.drop(columns=['key_point'])

    valid_df = df[(df['label'] == 1) & (df['topic'] == category)]
    valid_kp = valid_df['full_key_point'].value_counts()
    display(valid_kp)
    
    top_kp = merged_df[merged_df['topic'] == category].merge(kp_df, on=['key_point_id'])['key_point'].value_counts()
    result = top_kp[top_kp.index.isin(valid_kp.index.tolist())]
    if top != None:
        result = result[result.index.isin(valid_kp.head(top).index)]
    elif len(selected_kps) > 0:
        result = result[result.index.isin(selected_kps)]
    
    if top != None:
        valid_df = df[df['full_key_point'].isin(valid_kp.head(top).index)]
    elif len(selected_kps) > 0:
        valid_df = valid_df[valid_df['full_key_point'].isin(selected_kps)]
    
    pred_df = merged_df[merged_df['topic'] == category].merge(kp_df, on=['key_point_id'])
    if top != None:
        pred_df = pred_df[pred_df['key_point'].isin(valid_kp.head(top).index)]
    elif len(selected_kps) > 0:
        pred_df = pred_df[pred_df['key_point'].isin(selected_kps)]
        
    return valid_df, pred_df

In [151]:
def calculate_precision_recall(valid_df, pred_df):
    pred_df['pred_label'] = 1
    
    # Calculate Precision
    new_valid_df = valid_df.merge(pred_df[['comment_id', 'key_point_id', 'pred_label']], how='right')
    new_valid_df['label'] = new_valid_df['label'].fillna(0)
    precision = precision_score(new_valid_df['label'], new_valid_df['pred_label'])

    # Calculate Recall
    new_valid_df = valid_df.merge(pred_df[['comment_id', 'key_point_id', 'pred_label']], how='left')
    new_valid_df['pred_label'] = new_valid_df['pred_label'].fillna(0)
    recall = recall_score(new_valid_df['label'], new_valid_df['pred_label'])
    
    return precision, recall

In [157]:
def generate_coverage_table(valid_df, pred_df): 
    coverage_compare_table = pred_df['key_point'].value_counts().reset_index()
    coverage_compare_table.columns = ['Key Points', 'Predicted Coverage']
    coverage_compare_table['Actual Coverage'] = valid_df['full_key_point'].value_counts().tolist()
    return coverage_compare_table

## Arts & Entertainment

In [158]:
selected_kps = ['Friendly and helpful staff .', 'Seats are adequately comfortable .   ', 'Horrible customer service .']
valid_df, pred_df = get_top_kp_coverages(merged_df, df, 'Arts & Entertainment', None, selected_kps)

Friendly and helpful staff .                14
Awesome service and employees .             10
It had wonderful acoustics .                 9
Superior customer service !                  8
Seats are adequately comfortable .           4
Horrible customer service .                  3
Very talented musicians !                    2
Worth the money .                            2
lines were short and quick .                 2
The acoustics are poor .                     2
Terrible administration and management .     2
Rude and Unprofessional staff .              2
Great for conventions and concerts ! !       2
Incredibly talented performers - wow !       2
Parking was fast and FREE !                  1
Front seats worth every penny !              1
Awesome lighting , and decor .               1
Nice employees ... not to pushy .            1
This theatre was filthy .                    1
Name: full_key_point, dtype: int64

In [159]:
generate_coverage_table(valid_df, pred_df)

                              Key Points  Predicted Coverage  Actual Coverage
0           Friendly and helpful staff .                  10               14
1  Seats are adequately comfortable .                      4                4
2            Horrible customer service .                   3                3

In [160]:
calculate_precision_recall(valid_df, pred_df)

(0.9411764705882353, 0.7619047619047619)

## Automotive

In [161]:
selected_kps = ['They have excellent customer service .', 'The employees here are wonderful !', 'Very professional staff .']
valid_df, pred_df = get_top_kp_coverages(merged_df, df, 'Automotive', None, selected_kps)

They have excellent customer service .    29
Very professional staff .                 13
The employees here are wonderful !        13
Very courteous staff .                    10
FAST and FRIENDLY SERVICE ! ! !            6
TERRIBLE CUSTOMER SERVICE !                5
Their work is Impeccable .                 4
The cashiers are always friendly .         3
Store was clean and organized .            3
Extremely poor service .                   2
Prices were fair and reasonable .          2
Over priced and overrated .                1
Overall just poor quality .                1
Unbeatable Professional Service !          1
Name: full_key_point, dtype: int64

In [162]:
generate_coverage_table(valid_df, pred_df)

ValueError: Length of values (3) does not match length of index (2)

In [163]:
calculate_precision_recall(valid_df, pred_df)

(0.8333333333333334, 0.18181818181818182)

## Beauty & Spas

In [164]:
selected_kps = ['Staff is friendly and accommodating .', 'Customer service- EXCELLENT !', 'Amazing & professional service .']
valid_df, pred_df = get_top_kp_coverages(merged_df, df, "Beauty & Spas", None, selected_kps)

Staff is friendly and accommodating .    18
Amazing & professional service .         14
Customer service- EXCELLENT !            13
Very professionally run business .        9
Artists are highly skilled .              7
Super clean and friendly salon .          6
Very neat and painless service .          3
POOR CUSTOMER SERVICE .                   2
Super comfy and great massage .           2
Prices were fair and reasonable .         2
This place is TERRIFIC .                  1
Name: full_key_point, dtype: int64

In [165]:
generate_coverage_table(valid_df, pred_df)

                              Key Points  Predicted Coverage  Actual Coverage
0  Staff is friendly and accommodating .                  13               18
1          Customer service- EXCELLENT !                   7               14
2       Amazing & professional service .                   3               13

In [166]:
calculate_precision_recall(valid_df, pred_df)

(0.8695652173913043, 0.4444444444444444)

## Hotels

In [167]:
selected_kps = ['Friendly and helpful staff .', 'Clean and comfortable rooms .', 'The ambience is wonderfully peaceful .']
valid_df, pred_df = get_top_kp_coverages(merged_df, df, 'Hotels', None, selected_kps)

Friendly and helpful staff .              21
Clean and comfortable rooms .             13
Excellent customer service .               7
The service is impeccable .                5
Very peaceful and relaxing location .      4
Great desk service , too .                 4
Extremely poor service .                   3
The beds are extremely comfortable .       2
Pool area clean and refreshing .           2
Price way overvalued .                     1
The ambience is wonderfully peaceful .     1
Horribly rude staff .                      1
Front desk staff was inept .               1
Room decor is outdated .                   1
Wifi was very reliable .                   1
Valet is convenient and fast .             1
Parking is easy .                          1
Restaurant service absolutely sucks .      1
Beds were extremely uncomfortable .        1
Great cocktail list too .                  1
Name: full_key_point, dtype: int64

In [168]:
generate_coverage_table(valid_df, pred_df)

                               Key Points  Predicted Coverage  Actual Coverage
0            Friendly and helpful staff .                  16               21
1           Clean and comfortable rooms .                  12               13
2  The ambience is wonderfully peaceful .                   2                1

In [169]:
calculate_precision_recall(valid_df, pred_df)

(0.9333333333333333, 0.8)

## Restaurants

In [170]:
selected_kps = ['Staff was courteous and accommodating .', 
                'Fresh food , using local produce .', 'The service here was exceptional .  ']
valid_df, pred_df = get_top_kp_coverages(merged_df, df, 'Restaurants', None, selected_kps)

Staff was courteous and accommodating .       19
Customer Service is Excellent .               14
Employees are friendly and attentive .        14
Service was prompt and friendly .             11
Delicious and expertly prepared food .         7
Ambiance is casual and comfortable .           6
Fresh food , using local produce .             5
The service here was exceptional .             5
Really delicious food , well balanced !        4
Fantastic drink selection .                    3
Generous sized portions .                      3
The food is consistently EXCELLENT !           3
AMAZING AUTHENTIC FLAVOR !                     3
Plenty of coffees and teas .                   2
Way over priced .                              2
Great variety of menu items .                  2
Prices are fair and reasonable .               2
Great beer and wine selection .                1
Lots of outdoor seating and                    1
The quality has diminished significantly .     1
Name: full_key_point, dtype: int64

In [171]:
generate_coverage_table(valid_df, pred_df)

,Key Points,Predicted Coverage,Actual Coverage
0,Staff was courteous and accommodating .,11,19
1,"Fresh food , using local produce .",8,5
2,The service here was exceptional .,5,5

In [172]:
calculate_precision_recall(valid_df, pred_df)

(0.75, 0.6206896551724138)